Package: luci-i18n-diag-devinfo-pt-br
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-diag-devinfo
Source: feeds/luci/applications/luci-app-diag-devinfo
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 2132
Description:  Translation for luci-app-diag-devinfo - Português do Brasil (Brazialian Portuguese)
