Package: libortp
Version: 0.23.0-1
Depends: libc, libpthread, librt
Source: feeds/telephony/libs/ortp
License: LGPL-2.1
LicenseFiles: COPYING
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Nicolas Thill <nico@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 49141
Description: Real-time Transport Protocol (RTP) library
