Package: baresip-mod-stdio
Version: 0.4.12-2
Depends: libc, baresip
Source: feeds/telephony/net/baresip
License: BSD-3-Clause
LicenseFiles: docs/COPYING
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 2127
Description: baresip standard I/O UI module
