Package: libopcodes
Version: 2.24-3
Depends: libc, libbfd
Source: package/devel/binutils
License: GPL-3.0+
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 62458
Description:  libbfd
