Package: wlc
Version: 5.10.56.27.3-8
Depends: libc
Source: package/kernel/broadcom-wl
Section: kernel
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 13327
Description:  This package contains an utility for initializing the proprietary Broadcom 
 wl driver.
