Package: libsysfs
Version: 2.1.0-2
Depends: libc
Source: package/libs/sysfsutils
License: LGPL-2.1
LicenseFiles: COPYING cmd/GPL lib/LGPL
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 10834
Description: The library's purpose is to provide a consistant and stable interface for querying system device information exposed through sysfs.
