Package: luci-app-multiwan
Version: git-15.248.30277-3836b45-1
Depends: libc, multiwan
Source: feeds/luci/applications/luci-app-multiwan
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 3143
Description:  LuCI Support for the OpenWrt MultiWAN agent
