Package: libncursesw
Version: 5.9-2
Depends: libc
Source: package/libs/ncurses
License: MIT
LicenseFiles: README
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 141288
Description: Terminal handling library (Unicode)
