Package: luci-app-tinyproxy
Version: git-15.248.30277-3836b45-1
Depends: libc, tinyproxy
Source: feeds/luci/applications/luci-app-tinyproxy
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 3148
Description: Tinyproxy - HTTP(S)-Proxy configuration
