Package: kamailio3-mod-db-text
Version: 3.3.7-9
Depends: libc, kamailio3
Source: feeds/telephony/net/kamailio-3.x
License: GPL-2.0+
LicenseFiles: COPYING
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 26355
Description:  This package provides support for  in Kamailio.
