Package: libatomic
Version: 4.8-linaro-1
Depends: libgcc
Source: package/libs/toolchain
License: GPL-3.0-with-GCC-exception
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Status: unknown hold not-installed
Essential: yes
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 4877
Description:  Atomic support library
