Package: luci-i18n-tinyproxy-pl
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-tinyproxy
Source: feeds/luci/applications/luci-app-tinyproxy
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 3083
Description: Translation for luci-app-tinyproxy - Polski (Polish)
