Package: babeld
Version: 1.6.1-1
Depends: libc, kmod-ipv6
Source: feeds/routing/babeld
License: MIT
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Gabriel Kerneis <gabriel@kerneis.info>
Architecture: brcm63xx-tch
Installed-Size: 52556
Description:  Babel is a loop-avoiding distance-vector routing protocol roughly based
 on DSDV and AODV, but with provisions for link cost estimation and
 redistribution of routes from other routing protocols.
 While it is optimised for wireless mesh networks, Babel will also work
 efficiently on wired networks. It will generate between 1.2 and 2.4 times
 the amount of routing traffic that RIPng would generate, while
 never counting to infinity.
