Package: luci-i18n-base-it
Version: git-15.245.46763-b179283-1
Depends: libc, luci-base
Source: feeds/luci/modules/luci-base
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 16560
Description:  Translation for luci-base - Italiano (Italian)
