Package: luci-i18n-base-el
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-base
Source: feeds/luci/modules/luci-base
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 17234
Description: Translation for luci-base - Ελληνικά (Greek)
