Package: libnettle
Version: 3.1.1-1
Depends: libc, libgmp
Source: package/libs/nettle
License: GPL-2.0+
LicenseFiles: COPYING
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 246428
Description:  GNU crypto library
