Package: luci-i18n-vnstat-zh-tw
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-vnstat
Source: feeds/luci/applications/luci-app-vnstat
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 868
Description: Translation for luci-app-vnstat - 臺灣華語 (Taiwanese)
