Package: luci-i18n-ntpc-ms
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-ntpc
Source: feeds/luci/applications/luci-app-ntpc
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 317
Description:  Translation for luci-app-ntpc - Bahasa Melayu (Malay)
