Package: luci-i18n-p910nd-ro
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-p910nd
Source: feeds/luci/applications/luci-app-p910nd
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 468
Description:  Translation for luci-app-p910nd - Română (Romanian)
