Package: batmand
Version: r1439-2
Depends: libc, libpthread, kmod-tun
Source: feeds/routing/batmand
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Marek Lindner <lindner_marek@yahoo.de>
Architecture: brcm63xx-tch
Installed-Size: 37215
Description: B.A.T.M.A.N. layer 3 routing daemon
