Package: iptables-mod-ipsec
Version: 1.4.21-1
Depends: libc, iptables, kmod-ipt-ipsec
Source: package/network/utils/iptables
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 5474
Description:  iptables extensions for matching ipsec traffic.
 
 Matches:
 - ah
 - esp
 - policy
 
