Package: iwcap
Version: 1
Depends: libc
Source: package/network/utils/iwcap
License: Apache-2.0
Section: utils
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 4614
Description: The iwcap utility receives radiotap packet data from wifi monitor interfaces and outputs it to pcap format. It gathers recived packets in a fixed ring buffer to dump them on demand which is useful for background monitoring. Alternatively the utility can stream the data to stdout to act as remote capture drone for Wireshark or similar programs.
