Package: bzip2
Version: 1.0.6-2
Depends: libc, libbz2
Source: package/utils/bzip2
License: BZIP2
LicenseFiles: LICENSE
Section: utils
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Steven Barth <cyrus@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 12426
Description:  bzip2 is a freely available, patent free, high-quality
 data compressor. This package provides the binary.
