Package: luci-i18n-multiwan-de
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-multiwan
Source: feeds/luci/applications/luci-app-multiwan
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 1317
Description: Translation for luci-app-multiwan - Deutsch (German)
