Package: luci-i18n-base-zh-tw
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-base
Source: feeds/luci/modules/luci-base
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 21116
Description:  Translation for luci-base - 臺灣華語 (Taiwanese)
