Package: luci-app-freifunk-policyrouting
Version: git-15.248.30277-3836b45-1
Depends: libc, freifunk-policyrouting
Source: feeds/luci/applications/luci-app-freifunk-policyrouting
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 1197
Description: Policy routing for mesh traffic
