Package: luci-i18n-meshwizard-tr
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-meshwizard
Source: feeds/luci/applications/luci-app-meshwizard
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 327
Description:  Translation for luci-app-meshwizard - Türkçe (Turkish)
