Package: fstools
Version: 2015-05-24-09027fc86babc3986027a0e677aca1b6999a9e14
Depends: libc, ubox
Source: package/system/fstools
License: GPL-2.0
Section: base
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: John Crispin <blogic@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 17315
Description: OpenWrt filesystem tools
