Package: luci-i18n-voice-diag-zh-tw
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-voice-diag
Source: feeds/luci/applications/luci-app-voice-diag
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 602
Description:  Translation for luci-app-voice-diag - 臺灣華語 (Taiwanese)
