Package: libltdl
Version: 2.4-1
Depends: libc
Source: package/libs/libtool
License: GPL-2.0+
LicenseFiles: COPYING
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 13133
Description:  A generic dynamic object loading library
