Package: freesub
Version: 2014-12-03-a1a38e80c6642af723d6aa65f64910dcf27cb3da
Depends: libc, libubox
Source: feeds/management/freesub
License: GPL-2.0+
Section: utils
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Luka Perkov <luka@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 2761
Description: SSH subsystem helper
