Package: luci-i18n-base-it
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-base
Source: feeds/luci/modules/luci-base
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 16529
Description:  Translation for luci-base - Italiano (Italian)
