Package: asterisk11-res-fax-spandsp
Version: 11.16.0-4
Depends: libc, asterisk11, asterisk11-res-fax, libspandsp, libtiff
Source: feeds/telephony/net/asterisk-11.x
License: GPL-2.0
LicenseFiles: COPYING LICENSE
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 10352
Description: This package provides support for 'Spandsp T.38 and G.711 FAX Resource' in Asterisk11.
