Package: luci-theme-bootstrap
Version: git-15.245.46763-b179283-1
Depends: libc
Source: feeds/luci/themes/luci-theme-bootstrap
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 13041
Description:  Bootstrap Theme (default)
