Package: rssileds
Version: 0.2-1
Depends: libc, libiwinfo
Source: package/network/utils/rssileds
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Daniel Golle <dgolle@allnet.de>
Architecture: brcm63xx-tch
Installed-Size: 3628
Description:  A small process written in C to update the signal-strength indicator LEDs
