Package: yate-mod-wavefile
Version: 5.4.2-1-4
Depends: libc, yate
Source: feeds/telephony/net/yate
License: GPL-2.0
LicenseFiles: COPYING
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 18620
Description:  Wav file Record and Playback module for yate
