Package: asterisk13-app-confbridge
Version: 13.4.0-3
Depends: libc, asterisk13, asterisk13-bridge-builtin-features, asterisk13-bridge-simple, asterisk13-bridge-softmix
Source: feeds/telephony/net/asterisk-13.x
License: GPL-2.0
LicenseFiles: COPYING LICENSE
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 45000
Description:  This package provides support for 'Software bridge for multi-party audio conferencing' in Asterisk.
