Package: bmx6-json
Version: r2015080701-4
Depends: libc, bmx6, libjson-c
Source: feeds/routing/bmx6
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Axel Neumann <neumann@cgws.de>
Architecture: brcm63xx-tch
Installed-Size: 6377
Description: json plugin based on json-c
