Package: zlib
Version: 1.2.8-1
Depends: libc
Source: package/libs/zlib
License: Zlib
LicenseFiles: README
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 39421
Description:  Library implementing the deflate compression method
