Package: usbutils
Version: 007-1
Depends: libc, libusb-1.0, zlib, librt, libpthread
Source: package/utils/usbutils
Section: utils
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 206112
Description:  USB devices listing utilities
