Package: uclient-fetch
Version: 2015-04-14-81fdb8fdf1470e1c7bf3124ff20d17feaeb519ee
Depends: libc, libuclient
Source: package/libs/uclient
License: ISC
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 3914
Description: Tiny wget replacement using libuclient
