Package: luci-app-radicale
Version: 1.0.1-1
Depends: libc, luci-mod-admin-full
Source: feeds/luci/applications/luci-app-radicale
License: Apache-2.0
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Christian Schoenebeck <christian.schoenebeck@gmail.com>
Architecture: all
Installed-Size: 9457
Description: LuCI Support for Radicale CardDAV/CalDAV
