Package: libnl
Version: 3.2.21-1
Depends: libc, libpthread
Source: package/libs/libnl
License: LGPL-2.1
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 152326
Description: This package contains a library for applications dealing with netlink sockets
