Package: libiw
Version: 29-5
Depends: libc
Source: package/network/utils/wireless-tools
License: GPL-2.0
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 11680
Description: This package contains a library for manipulating "Linux Wireless Extensions".
