Package: luci-mod-admin-full
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-base, libubus-lua
Source: feeds/luci/modules/luci-mod-admin-full
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 69422
Description: LuCI Administration - full-featured for full control
