Package: bird6-uci
Version: 0.2
Depends: libc, bird6, libuci, uci
Source: feeds/routing/bird-openwrt/bird6-openwrt
License: GPL-3.0+
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Eloi Carbo <eloicaso@openmailbox.org>
Architecture: brcm63xx-tch
Installed-Size: 4224
Description: bird6 UCI integration module
