Package: librt
Version: 0.9.33.2-1
Depends: libpthread
Source: package/libs/toolchain
License: GPL-3.0-with-GCC-exception
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Status: unknown hold not-installed
Essential: yes
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 4914
Description:  POSIX.1b RealTime extension library
