Package: luci-i18n-firewall-vi
Version: git-15.245.46763-b179283-1
Depends: libc, luci-app-firewall
Source: feeds/luci/applications/luci-app-firewall
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 844
Description:  Translation for luci-app-firewall - Tiếng Việt (Vietnamese)
