Package: luci-i18n-watchcat-no
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-watchcat
Source: feeds/luci/applications/luci-app-watchcat
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 317
Description: Translation for luci-app-watchcat - Norsk (Norwegian)
