Package: asterisk13-app-sms
Version: 13.4.0-3
Depends: libc, asterisk13, libpopt, libstdcpp
Source: feeds/telephony/net/asterisk-13.x
License: GPL-2.0
LicenseFiles: COPYING LICENSE
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 15787
Description:  This package provides support for 'SMS support (ETSI ES 201 912 protocol 1)' in Asterisk.
