Package: base-files
Version: 157-r46767
Depends: libc, netifd, procd, jsonfilter, usign
Source: package/base-files
License: GPL-2.0
Section: base
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 32438
Description: This package contains a base filesystem and system scripts for OpenWrt.
