Package: asterisk18-app-originate
Version: 1.8.32.3-2
Depends: libc, asterisk18
Source: feeds/telephony/net/asterisk-1.8.x
License: GPL-2.0
LicenseFiles: COPYING LICENSE
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 3123
Description:  This package provides support for 'originating an outbound call and connecting it to a specified extension or application' in Asterisk.
