Package: shtool
Version: 2.0.8-1
Depends: libc
Source: feeds/management/shtool
License: GPL-2.0+
Section: utils
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 33563
Description:  GNU shtool is a compilation of small but very stable and portable shell
 scripts into a single shell tool.
