Package: wpan-tools
Version: 0.4
Depends: libc, libnl
Source: package/network/utils/wpan-tools
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 7424
Description: cfg802154 interface configuration utility
