Package: luci-app-upnp
Version: git-15.248.30277-3836b45-1
Depends: libc, miniupnpd
Source: feeds/luci/applications/luci-app-upnp
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 3220
Description: Universal Plug & Play configuration module
