Package: iw
Version: 3.17-1
Depends: libc, libnl-tiny
Source: package/network/utils/iw
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 42797
Description: cfg80211 interface configuration utility
