Package: hnet-full-secure
Version: 2015-07-10-ea2bd2bc2d8e617efca4b27fbf1c5c3c8ad09ad9-1
Depends: libc, hnetd-openssl, luci-app-hnet, babeld, ohybridproxy, miniupnpd, minimalist-pcproxy
Source: feeds/routing/hnetd
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Steven Barth <cyrus@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 102
Description: HNCP Homenet metapackage
