Package: luci-app-ntpc
Version: git-15.248.30277-3836b45-1
Depends: libc, ntpclient
Source: feeds/luci/applications/luci-app-ntpc
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 1110
Description:  NTP time synchronisation configuration module
