Package: iftop
Version: 1.0pre2-1
Depends: libc, libpcap, libncurses, libpthread
Source: package/network/utils/iftop
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 19866
Description:  iftop does for network usage what top(1) does for CPU usage. It 
 listens to network traffic on a named interface and displays a 
 table of current bandwidth usage by pairs of hosts. Handy for 
 answering the question 'why is our ADSL link so slow?'.
