Package: libuci
Version: 2015-04-09.1-1
Depends: libc, libubox
Source: package/system/uci
License: LGPL-2.1
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 16529
Description: C library for the Unified Configuration Interface (UCI)
