Package: yate-mod-zlibcompress
Version: 5.4.2-1-4
Depends: libc, yate, zlib
Source: feeds/telephony/net/yate
License: GPL-2.0
LicenseFiles: COPYING
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 7558
Description:  Zlib Compression module for yate
