Package: kamailio4-mod-cfg-db
Version: 4.2.4-1
Depends: libc, kamailio4, kamailio4-mod-db-sqlite
Source: feeds/telephony/net/kamailio-4.x
License: GPL-2.0+
LicenseFiles: COPYING
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 9139
Description:  kamailio4 Load core and module parameters from database module
