Package: firewall
Version: 2015-07-27
Depends: libc, libubox, libubus, libuci, libip4tc, libip6tc, libxtables, kmod-ipt-core, kmod-ipt-nat
Source: package/network/config/firewall
License: ISC
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 39065
Description: This package provides a config-compatible C implementation of the UCI firewall.
