Package: asterisk11-codec-g729
Version: 1.3-1
Depends: libc, bcg729, asterisk11
Source: feeds/telephony/net/asterisk-g72x
License: GPL-3.0
LicenseFiles: README.md
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Alex Samorukov <samm@os2.kiev.ua>
Architecture: brcm63xx-tch
Installed-Size: 4122
Description:  Asterisk G.729 codec based on bcg729 implementation.
