Package: luci-app-splash
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-lib-nixio, tc, kmod-sched, iptables-mod-nat-extra, iptables-mod-ipopt
Source: feeds/luci/applications/luci-app-splash
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 16471
Description: Freifunk DHCP-Splash application
