Package: asterisk11-res-fax
Version: 11.16.0-4
Depends: libc, asterisk11, asterisk11-res-timing-pthread
Source: feeds/telephony/net/asterisk-11.x
License: GPL-2.0
LicenseFiles: COPYING LICENSE
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 31258
Description: This package provides support for 'Generic FAX resource for FAX technology resource modules' in Asterisk11.
