Package: luci-i18n-minidlna-pt
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-minidlna
Source: feeds/luci/applications/luci-app-minidlna
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 1111
Description:  Translation for luci-app-minidlna - Português (Portuguese)
