Package: libcurl
Version: 7.40.0-3
Depends: libc, libpolarssl
Source: /home/jow/relman-cc/.cache/feeds/base/package/network/utils/curl
License: MIT
LicenseFiles: COPYING
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Imre Kaloz <kaloz@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 103979
Description:  A client-side URL transfer library
