Package: libubox
Version: 2015-06-14-d1c66ef1131d14f0ed197b368d03f71b964e45f8
Depends: libc
Source: package/libs/libubox
License: ISC
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 19051
Description: Basic utility library
