Package: libre
Version: 0.4.12-1
Depends: libc, libopenssl, libpthread
Source: feeds/telephony/libs/re
License: BSD-3-Clause
LicenseFiles: docs/COPYING
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 148946
Description:  Generic library for real-time communications with async IO support
