Package: luci-lib-ip
Version: git-15.248.30277-3836b45-1
Depends: libc, liblua, libnl-tiny
Source: feeds/luci/libs/luci-lib-ip
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 9362
Description: Lua library for IP calculation and routing information
