Package: luci-i18n-samba-ja
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-samba
Source: feeds/luci/applications/luci-app-samba
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 1114
Description:  Translation for luci-app-samba - 日本語 (Japanese)
