Package: libroxml
Version: 2.3.0-2
Depends: libc
Source: package/libs/libroxml
License: LGPL-2.1+
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 18351
Description: Minimum, easy-to-use, C implementation for xml file parsing
