Package: swconfig
Version: 10
Depends: libc, libuci, libnl-tiny
Source: package/network/config/swconfig
License: GPL-2.0
Section: base
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 7898
Description:  Switch configuration utility
