Package: ipset
Version: 6.24-1
Depends: libc, kmod-ipt-ipset, libmnl
Source: package/network/utils/ipset
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 71555
Description:  IPset administration utility
