Package: hostapd-mini
Version: 2015-03-25-1
Depends: libc, libnl-tiny, hostapd-common, libubus
Conflicts: wpad, wpad-mini, wpad-mesh
Source: package/network/services/hostapd
License: BSD-3-Clause
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 155048
Description:  This package contains a minimal IEEE 802.1x/WPA Authenticator (WPA-PSK only).
