Package: usign
Version: 2015-05-08-cf8dcdb8a4e874c77f3e9a8e9b643e8c17b19131
Depends: libc, libubox
Source: package/system/usign
License: ISC
Section: base
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 11709
Description: OpenWrt signature verification utility
