Package: luci-i18n-statistics-el
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-statistics
Source: feeds/luci/applications/luci-app-statistics
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 1702
Description: Translation for luci-app-statistics - Ελληνικά (Greek)
