Package: asterisk13-odbc
Version: 13.4.0-3
Depends: libc, asterisk13, libpthread, libc, unixodbc
Source: feeds/telephony/net/asterisk-13.x
License: GPL-2.0
LicenseFiles: COPYING LICENSE
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 68207
Description:  This package provides support for 'ODBC support' in Asterisk.
