Package: relayd
Version: 2015-03-13-2970ff60bac6b70ecb682779d5c776dc559dc0b9
Depends: libc, libubox
Source: package/network/services/relayd
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 9911
Description:  Transparent routing / relay daemon
