Package: wl
Version: 5.10.56.27.3-8
Depends: libc
Source: package/kernel/broadcom-wl
Section: kernel
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 92131
Description:  This package contains the proprietary utility (wl) for configuring the 
 proprietary Broadcom wl driver.
