Package: samba36-client
Version: 3.6.25-5
Depends: libc, libreadline, libncurses
Source: /home/jow/relman-cc/.cache/feeds/base/package/network/services/samba36
License: GPL-3.0
LicenseFiles: COPYING
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 430653
Description: Samba 3.6 SMB/CIFS client
