Package: freifunk-policyrouting
Version: 6
Depends: libc, ip
Source: feeds/luci/contrib/package/freifunk-policyrouting
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 2276
Description:  Allows you to send your own traffic via your own default gateway while sending traffic received from the mesh to a gateway in the mesh.
