Package: luci-i18n-hd-idle-zh-cn
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-hd-idle
Source: feeds/luci/applications/luci-app-hd-idle
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 633
Description: Translation for luci-app-hd-idle - 普通话 (Chinese)
