Package: luci-app-fwknopd
Version: 1.0-1
Depends: libc, fwknopd, qrencode
Source: feeds/luci/applications/luci-app-fwknopd
License: GPLv2
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jonathan Bennett <JBennett@incomsystems.biz>
Architecture: all
Installed-Size: 2466
Description:  Fwknopd config - web config for the firewall knock daemon
