Package: luci-i18n-upnp-pt-br
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-upnp
Source: feeds/luci/applications/luci-app-upnp
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 1679
Description:  Translation for luci-app-upnp - Português do Brasil (Brazialian Portuguese)
