Package: igmpproxy
Version: 0.1-8
Depends: libc
Source: package/network/services/igmpproxy
License: GPL-2.0+
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 14378
Description: IGMPproxy is a simple dynamic Multicast Routing Daemon using only IGMP signalling (Internet Group Management Protocol).
