Package: libsrtp
Version: 1.4.4-1
Depends: libc
Source: feeds/telephony/libs/libsrtp
License: BSD-3-Clause
LicenseFiles: LICENSE
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 32535
Description:  Open-source implementation of the Secure Real-time Transport
 Protocol (SRTP) originally authored by Cisco Systems, Inc.
 It is available under a BSD-style license.
