Package: quagga
Version: 0.99.22.4-2
Depends: libc, librt
Source: feeds/routing/quagga
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Vasilis Tsiligiannis <b_tsiligiannis@silverton.gr>
Architecture: brcm63xx-tch
Installed-Size: 2390
Description:  A routing software package that provides TCP/IP based routing services
 with routing protocols support such as RIPv1, RIPv2, RIPng, OSPFv2,
 OSPFv3, BGP-4, and BGP-4+
