Package: freifunk-mapupdate
Version: 1
Depends: libc, olsrd-mod-nameservice
Source: feeds/luci/contrib/package/freifunk-mapupdate
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 1286
Description:  This script updates the freifunkmap (also known as the global map, see http://map.berlin.freifunk.net) every hour. Config file is /etc/config/freifunk-mapupdate.
