Package: luci-i18n-asterisk-zh-tw
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-asterisk
Source: feeds/luci/applications/luci-app-asterisk
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 346
Description:  Translation for luci-app-asterisk - 臺灣華語 (Taiwanese)
