Package: kamailio4
Version: 4.2.4-1
Depends: libc, libncurses, libpthread, libreadline, libxml2
Source: feeds/telephony/net/kamailio-4.x
License: GPL-2.0+
LicenseFiles: COPYING
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 1090485
Description:  Mature and flexible open source SIP server, v4.2.4
