Package: asterisk11-pbx-spool
Version: 11.16.0-4
Depends: libc, asterisk11
Source: feeds/telephony/net/asterisk-11.x
License: GPL-2.0
LicenseFiles: COPYING LICENSE
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 9130
Description: This package provides support for 'outgoing call spool support' in Asterisk11.
