Package: mdadm
Version: 3.2.5-1
Depends: libc
Source: package/utils/mdadm
Section: utils
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 137156
Description: A tool for managing Linux Software RAID arrays.
