Package: luci-i18n-openvpn-en
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-openvpn
Source: feeds/luci/applications/luci-app-openvpn
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 305
Description:  Translation for luci-app-openvpn - English
