Package: luci-i18n-openvpn-zh-tw
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-openvpn
Source: feeds/luci/applications/luci-app-openvpn
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 346
Description: Translation for luci-app-openvpn - 臺灣華語 (Taiwanese)
