Package: libgmp
Version: 6.0.0-1
Depends: libc
Source: package/libs/gmp
License: GPL-2.0+
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 204741
Description: GMP is a free library for arbitrary precision arithmetic, operating on signed integers, rational numbers, and floating point numbers.
