Package: fuse-utils
Version: 2.9.3-2
Depends: libc, libfuse
Source: package/utils/fuse
License: LGPLv2.1 GPLv2
LicenseFiles: COPYING.LIB COPYING
Section: utils
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 13832
Description:  FUSE (Filesystem in UserSpacE)
 This package contains the FUSE utilities.
 - fusermount
 - ulockmgr_server
