Package: eapol-test
Version: 2015-03-25-1
Depends: libc, libnl-tiny
Source: package/network/services/hostapd
License: BSD-3-Clause
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 230631
Description:  802.1x authentication test utility
