Package: 6rd
Version: 9-2
Depends: libc, kmod-ipv6, kmod-sit
Source: package/network/ipv6/6rd
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Steven Barth <cyrus@openwrt.org>
Architecture: all
Installed-Size: 3106
Description:  Provides support for 6rd tunnels in /etc/config/network.
 Refer to http://wiki.openwrt.org/doc/uci/network for
 configuration details.
