Package: bmx6-table
Version: r2015080701-4
Depends: libc, bmx6
Source: feeds/routing/bmx6
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Axel Neumann <neumann@cgws.de>
Architecture: brcm63xx-tch
Installed-Size: 8548
Description:  bmx6 table plugin to automatic announce routing-table routes via ip6ip tunnels
