Package: wpa-supplicant
Version: 2015-03-25-1
Depends: libc, libnl-tiny
Conflicts: wpad, wpad-mini, wpad-mesh
Source: package/network/services/hostapd
License: BSD-3-Clause
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 265972
Description: WPA Supplicant
