Package: ead
Version: 1
Depends: libc
Source: package/network/services/ead
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 50140
Description: Provides remote access to your device even if IP and firewall configuration settings are defunct
