Package: luci-i18n-fwknopd-en
Version: 1.0-1
Depends: libc, luci-app-fwknopd
Source: feeds/luci/applications/luci-app-fwknopd
License: GPLv2
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jonathan Bennett <JBennett@incomsystems.biz>
Architecture: all
Installed-Size: 309
Description:  Translation for luci-app-fwknopd - English
