Package: iputils-clockdiff
Version: 20101006-1
Depends: libc
Source: package/network/utils/iputils
License: GPL-2.0+
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 4841
Description:  Program clockdiff from iputils.
 Measures clock difference between hosts.
