Package: rpcd
Version: 2015-05-17-3d655417ab44d93aad56a6d4a668daf24b127b84
Depends: libc, libubus, libubox, libuci, libblobmsg-json
Source: package/system/rpcd
License: ISC
Section: utils
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 18683
Description: This package provides the UBUS RPC backend server to expose various functionality to frontend programs via JSON-RPC.
