Package: libmicroxml
Version: 2012-06-11-72965423184f24cc0b963d91c2d1863cdb01b6aa
Depends: libc
Source: feeds/management/libmicroxml
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Luka Perkov <luka@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 17837
Description: A micro sized XML library
