Package: asterisk18
Version: 1.8.32.3-2
Depends: libc, libopenssl, libncurses, libpopt, libpthread, zlib
Source: feeds/telephony/net/asterisk-1.8.x
License: GPL-2.0
LicenseFiles: COPYING LICENSE
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 1040827
Description:  Asterisk is a complete PBX in software. It provides all of the features
 you would expect from a PBX and more. Asterisk does voice over IP in three
 protocols, and can interoperate with almost all standards-based telephony
 equipment using relatively inexpensive hardware.
