Package: px5g-standalone
Version: 2
Depends: libc
Source: package/utils/px5g-standalone
Section: utils
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jo-Philipp Wich <xm@subsignal.org>
Architecture: brcm63xx-tch
Installed-Size: 27483
Description: Px5g is a tiny standalone X.509 certificate generator. It suitable to create key files and certificates in DER and PEM format for use with stunnel, uhttpd and others.
