Package: librem
Version: 0.4.6-1
Depends: libc, libre, libpthread
Source: feeds/telephony/libs/rem
License: BSD-3-Clause
LicenseFiles: docs/COPYING
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 17890
Description: Audio and video processing media library
