Package: asterisk13-format-g726
Version: 13.4.0-3
Depends: libc, asterisk13
Source: feeds/telephony/net/asterisk-13.x
License: GPL-2.0
LicenseFiles: COPYING LICENSE
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 2980
Description:  This package provides support for 'support for headerless G.726 16/24/32/40kbps data format' in Asterisk.
