Package: luci-i18n-commands-ro
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-commands
Source: feeds/luci/applications/luci-app-commands
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 1118
Description:  Translation for luci-app-commands - Română (Romanian)
