Package: libnetfilter-cttimeout
Version: 1.0.0-1
Depends: libc, libmnl
Source: package/libs/libnetfilter-cttimeout
License: GPL-2.0+
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 4014
Description: libnetfilter_cttimeout is a userspace library providing a programming interface (API) to the in-kernel connection tracking timeout handling. This library is currently used by conntrack-tools.
