Package: uhttpd
Version: 2015-08-17-f91788b809d9726126e9cf4384fedbbb0c5b8a73
Depends: libc, libubox
Source: package/network/services/uhttpd
License: ISC
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 21860
Description:  uHTTPd is a tiny single threaded HTTP server with TLS, CGI and Lua
 support. It is intended as a drop-in replacement for the Busybox
 HTTP daemon.
