Package: luci-i18n-diag-core-uk
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-diag-core
Source: feeds/luci/applications/luci-app-diag-core
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 817
Description: Translation for luci-app-diag-core - украї́нська (Ukrainian)
