Package: asterisk13-chan-sccp-b
Version: v4.2-r6139-3
Depends: libc, libltdl, asterisk13
Source: feeds/telephony/net/chan-sccp-b
License: GPL-1.0
LicenseFiles: COPYING LICENSE
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 477426
Description: SCCP channel provider for asterisk. It delivers extended functionality for SCCP phones over chan_skinny delivered by asterisk by default.
