Package: iptables-mod-led
Version: 1.4.21-1
Depends: libc, iptables, kmod-ipt-led
Source: package/network/utils/iptables
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 2104
Description: iptables extension for triggering a LED. Targets: - LED 
