Package: libpjsua
Version: 2.4-1
Depends: libc, libuuid, libstdcpp, libpthread, libpj, libpjlib-util, libpjmedia, libpjnath, libpjsip-simple, libpjsip-ua, libpjsip, libresample, librt, libspeex, libsrtp
Source: feeds/telephony/libs/pjproject
License: GPL-2.0
LicenseFiles: COPYING
Section: lib
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 183324
Description:  libpjsua library
