Package: thc-ipv6-alive6
Version: 2.7-1
Depends: libc, libpcap
Source: package/network/ipv6/thc-ipv6
License: GPL-3.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 39122
Description:  This package contains the alive6 utility of the THC-IPv6 toolkit.
