Package: udev
Version: 173-1
Depends: libc, librt
Source: package/system/udev
License: GPL-2.0
Section: base
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Geoff Levand <geoff@infradead.org>
Architecture: brcm63xx-tch
Installed-Size: 208837
Description:  udev allows Linux users to have a dynamic /dev directory and it
 provides the ability to have persistent device names.
