Package: dropbearconvert
Version: 2015.67-1
Depends: libc
Source: package/network/services/dropbear
License: MIT
LicenseFiles: LICENSE libtomcrypt/LICENSE libtommath/LICENSE
Section: utils
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 24318
Description:  Utility for converting SSH keys
