Package: freifunk-firewall
Version: 3
Depends: libc, firewall
Source: feeds/luci/contrib/package/freifunk-firewall
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 1152
Description: Various firewall extensions for Freifunk. Includes NAT fixes and advanced settings.
