Package: luci-app-bird4
Version: 0.2
Depends: libc, bird4-uci, luci-base
Source: feeds/routing/bird-openwrt/bird4-openwrt
License: GPL-3.0+
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Eloi Carbo <eloicaso@openmailbox.org>
Architecture: brcm63xx-tch
Installed-Size: 4262
Description:  bird4 application for LuCI
