Package: yate-mod-alsachan
Version: 5.4.2-1-4
Depends: libc, yate, alsa-lib
Source: feeds/telephony/net/yate
License: GPL-2.0
LicenseFiles: COPYING
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 12324
Description:  ALSA Sound Channel module for yate
