Package: pppstats
Version: 2.4.7-6
Depends: libc
Source: package/network/services/ppp
License: BSD-4-Clause
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 5009
Description: This package contains an utility to report PPP statistics.
