Package: tcpdump-mini
Version: 4.5.1-4
Depends: libc, libpcap
Source: package/network/utils/tcpdump
License: BSD-3-Clause
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 149350
Description:  Network monitoring and data acquisition tool (minimal version)
