Package: luci-i18n-openvpn-ru
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-openvpn
Source: feeds/luci/applications/luci-app-openvpn
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 6292
Description:  Translation for luci-app-openvpn - Русский (Russian)
