Package: asterisk11-func-math
Version: 11.16.0-4
Depends: libc, asterisk11
Source: feeds/telephony/net/asterisk-11.x
License: GPL-2.0
LicenseFiles: COPYING LICENSE
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 4462
Description: This package provides support for 'Math functions' in Asterisk11.
