Package: luci-i18n-pbx-ro
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-pbx
Source: feeds/luci/applications/luci-app-pbx
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 631
Description:  Translation for luci-app-pbx - Română (Romanian)
