Package: luci-i18n-radicale-de
Version: 1.0.1-1
Depends: libc, luci-app-radicale
Source: feeds/luci/applications/luci-app-radicale
License: Apache-2.0
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Christian Schoenebeck <christian.schoenebeck@gmail.com>
Architecture: all
Installed-Size: 3966
Description: Translation for luci-app-radicale - Deutsch (German)
