Package: luci-app-shairplay
Version: git-15.248.30277-3836b45-1
Depends: libc, shairplay
Source: feeds/luci/applications/luci-app-shairplay
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 1395
Description: LuCI Support for Shairplay
