Package: freifunk-p2pblock
Version: 3
Depends: libc, iptables-mod-filter, iptables-mod-ipp2p, l7-protocols, iptables-mod-conntrack-extra
Source: feeds/luci/contrib/package/freifunk-p2pblock
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 1316
Description:  Simple Addon for Freifunk which use iptables layer7-, ipp2p- and recent-modules 
 to block p2p/filesharing traffic
