Package: luci-i18n-pbx-voicemail-it
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-pbx-voicemail
Source: feeds/luci/applications/luci-app-pbx-voicemail
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 1476
Description: Translation for luci-app-pbx-voicemail - Italiano (Italian)
