Package: baresip-mod-v4l2
Version: 0.4.12-2
Depends: libc, baresip, libv4l
Source: feeds/telephony/net/baresip
License: BSD-3-Clause
LicenseFiles: docs/COPYING
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 3784
Description:  baresip Video4Linux2 video source module
