Package: libintl-full
Version: 0.19.4-1
Depends: libc
Source: package/libs/gettext-full
License: GPL-3.0+
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 15116
Description: GNU Internationalization library
