Package: luci-i18n-olsr-no
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-olsr
Source: feeds/luci/applications/luci-app-olsr
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 314
Description: Translation for luci-app-olsr - Norsk (Norwegian)
