Package: iptables-mod-ipv4options
Version: 2.5-1
Depends: libc, iptables, kmod-ipt-ipv4options
Source: package/network/utils/xtables-addons
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 2341
Description: ipv4options iptables extension
