Package: iputils-tracepath6
Version: 20101006-1
Depends: libc
Source: package/network/utils/iputils
License: GPL-2.0+
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 4652
Description:  Program tracepath6 from iputils.
 Traces path to a network host discovering MTU along this path (IPv6).
