Package: asterisk11-res-ael-share
Version: 11.16.0-4
Depends: libc, asterisk11
Source: feeds/telephony/net/asterisk-11.x
License: GPL-2.0
LicenseFiles: COPYING LICENSE
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 42050
Description:  This package provides support for 'support for shareable AEL code mainly between internal and external modules' in Asterisk11.
