Package: kamailio4-mod-h350
Version: 4.2.4-1
Depends: libc, kamailio4, kamailio4-mod-ldap, libopenldap
Source: feeds/telephony/net/kamailio-4.x
License: GPL-2.0+
LicenseFiles: COPYING
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 9807
Description:  kamailio4 H.350 module
