Package: libspandsp
Version: 0.0.6-2
Depends: libc, libtiff
Source: feeds/telephony/libs/spandsp
License: LGPL-2.1 GPL-2.0
LicenseFiles: COPYING
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 276663
Description: spandsp library
