Package: binutils
Version: 2.24-3
Depends: libc, objdump, ar
Source: package/devel/binutils
License: GPL-3.0+
Section: devel
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 999136
Description:  The Binutils package contains a linker, an assembler, and other tools for handling object files
