Package: luci-i18n-wshaper-el
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-wshaper
Source: feeds/luci/applications/luci-app-wshaper
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 408
Description: Translation for luci-app-wshaper - Ελληνικά (Greek)
