Package: smcroute
Version: 2.0.0-1
Depends: libc
Source: feeds/routing/smcroute
License: GPL-2.0+
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Leonardo Brondani Schenkel <leonardo@schenkel.net>
Architecture: brcm63xx-tch
Installed-Size: 13428
Description: SMCRoute is a command line tool to manipulate the multicast routes of the Linux kernel.
