Package: luci-app-diag-core
Version: git-15.248.30277-3836b45-1
Depends: libc
Source: feeds/luci/applications/luci-app-diag-core
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 790
Description: LuCI Diagnostics Tools (Core)
