Package: luci-app-diag-devinfo
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-diag-core, smap, netdiscover, mac-to-devinfo, httping, smap-to-devinfo, netdiscover-to-devinfo
Source: feeds/luci/applications/luci-app-diag-devinfo
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 5817
Description: LuCI Diagnostics Tools (Device Info)
