Package: freifunk-watchdog
Version: 8
Depends: libc, libuci
Source: feeds/luci/contrib/package/freifunk-watchdog
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 5595
Description: A watchdog daemon that monitors wireless interfaces to ensure the correct bssid and channel. The process will initiate a wireless restart as soon as it detects a bssid or channel mismatch.
