Package: luci-app-wol
Version: git-15.248.30277-3836b45-1
Depends: libc, etherwake
Source: feeds/luci/applications/luci-app-wol
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 1437
Description: LuCI Support for Wake-on-LAN
