Package: uhttpd-mod-tls
Version: 2015-08-17-f91788b809d9726126e9cf4384fedbbb0c5b8a73
Depends: libc, uhttpd, libustream-polarssl
Source: package/network/services/uhttpd
License: ISC
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 105
Description:  The TLS plugin adds HTTPS support to uHTTPd.
