Package: shflags
Version: 2012-06-11_r133-1.0.x
Depends: libc, getopt
Source: feeds/management/shflags
License: LGPL-2.1
Section: libs
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Luka Perkov <luka@openwrt.org>
Architecture: brcm63xx-tch
Installed-Size: 4296
Description: command-line flags module for Unix shell scripts
