Package: luci-i18n-voice-core-zh-cn
Version: git-15.248.30277-3836b45-1
Depends: libc, luci-app-voice-core
Source: feeds/luci/applications/luci-app-voice-core
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: all
Installed-Size: 428
Description: Translation for luci-app-voice-core - 普通话 (Chinese)
