Package: dahdi-cfg
Version: 2.10.0.1-1
Depends: libc, kmod-dahdi, libpthread
Source: feeds/telephony/libs/dahdi-tools
License: GPL-2.0
LicenseFiles: LICENSE
Section: utils
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Vittorio Gambaletta <openwrt@vittgam.net>
Architecture: brcm63xx-tch
Installed-Size: 34546
Description: DAHDI tools dahdi_cfg, dahdi_scan and fxotune
