Package: asterisk11-cdr-csv
Version: 11.16.0-4
Depends: libc, asterisk11
Source: feeds/telephony/net/asterisk-11.x
License: GPL-2.0
LicenseFiles: COPYING LICENSE
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 4257
Description:  This package provides support for 'Call Detail Record with CSV support' in Asterisk11.
