Package: baresip-mod-avcodec
Version: 0.4.12-2
Depends: libc, baresip, libffmpeg-full
Source: feeds/telephony/net/baresip
License: BSD-3-Clause
LicenseFiles: docs/COPYING
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 7665
Description:  baresip FFmpeg video codecs module
