Package: gdb
Version: 7.8-2
Depends: libc, libthread-db, zlib, libreadline, libncurses, zlib
Source: package/devel/gdb
License: GPL-3.0+
Section: devel
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 1712980
Description: GDB, the GNU Project debugger, allows you to see what is going on `inside' another program while it executes -- or what another program was doing at the moment it crashed.
