Package: arptables
Version: 0.0.4-1
Depends: libc, kmod-arptables
Source: package/network/utils/arptables
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 20160
Description:  ARP firewalling software
