Package: community-profiles
Version: 2
Depends: libc, freifunk-common
Source: feeds/luci/contrib/package/community-profiles
Section: luci
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 5509
Description: These community profiles set defaults for various free network/freifunk communities and are used by wizards like ffwizard and meshwizard.
