Package: bird6
Version: 1.4.5-2
Depends: libc, libpthread
Source: feeds/routing/bird
License: GPL-2.0
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Architecture: brcm63xx-tch
Installed-Size: 186599
Description:  BIRD is an internet routing daemon which manages TCP/IP routing tables
 with support of modern routing protocols, easy to use configuration
 interface and powerful route filtering language. It is lightweight and
 efficient and therefore appropriate for small embedded routers.
 
 This is IPv6 version of BIRD, it supports OSPFv3, RIPng and BGP
 protocols.
 
 In BGP, BIRD supports communities, multiprotocol extensions, MD5
 authentication, 32bit AS numbers and could act as a route server or a
 route reflector. BIRD also supports multiple RIBs, multiple kernel
 routing tables and redistribution between the protocols with a powerful
 configuration syntax.
 
