Package: asterisk11-chan-dongle
Version: 1.1r35-3
Depends: libc, asterisk11, libiconv-full, kmod-usb-acm, kmod-usb-serial, kmod-usb-serial-option, libusb-1.0, usb-modeswitch
Source: feeds/telephony/net/asterisk-11.x-chan-dongle
License: GPL-2.0
LicenseFiles: COPYRIGHT.txt LICENSE.txt
Section: net
Maintainer: fexofenadine (github.com/fexofenadine)
Old_Maintainer: Jiri Slachta <slachta@cesnet.cz>
Architecture: brcm63xx-tch
Installed-Size: 69018
Description: Asterisk channel driver for Huawei UMTS 3G dongle.
